@import 'tailwindcss';

:root {
  font-family: Inter, Segoe UI, Roboto, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #020617;
  overflow-x: hidden;
}

html,
body,
#root {
  width: 100%;
}

.font-display {
  font-family: 'Cinzel', serif;
}
